/ratchetexperiment
/ratchetExperiment/.vscode
/ratchetExperiment/.espressif
/ratchetExperiment/.embuild
donk
/ratchetExperiment/target
/ratchetExperiment/Cargo.lock
/ratchetExperiment/ratchetexperiment/
/server/target/debug
**/*.rs.bk