
/ratchetexperiment/.vscode
/ratchetexperiment/.espressif
/ratchetexperiment/.embuild
donk
/ratchetexperiment/target
/ratchetexperiment/Cargo.lock
/ratchetexperiment/ratchetexperiment/
/server/target/debug
**/*.rs.bk